$incorrect: #900;
$correct: #09c;

.result {
  display: flex;
  margin-bottom: 2em;

  .icon {
    flex: 2em 0 0;
    font-weight: 900;
  }
  .question {
    flex: 1;
    text-align: left;
  }

  &.incorrect {
    color: $incorrect;
    .question {
      text-decoration: strikethrough;
    }
  }
  &.correct {
    color: $correct;
  }
}
